<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Logan Koester" />
<meta name="keywords" content="ruby, rails, hacking, programming, ubuntu, linux, freelance, twitter, web development" />
<meta name="author" content="Logan Koester" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
<link href="atom.xml" rel="alternate" title="Logan Koester" type="application/atom+xml" />
<link rel="SHORTCUT ICON" href="/images/favicon.png"/>
<title>Logan Koester</title>
</head>

<body>
<div id="wrap">
	<div id="header">
		<p id="toplinks">

		</p>

		<h1><a href="/"><div id="logo"></div>Logan<span class="fade">Koester</span></a></h1>
		<div class="slogan">
				<a href="/index.html" class="pink">ideas{blog}</a> | 
				<a href="/about.html" class="green">about{me}</a> |
				<a href="http://github.com/logankoester" class="orange">code{github}</a>
		</div>

</div>

<div id="content">  
  {{ content }}
</div>

<div id="footer">
  <a href="http://last.fm/user/logankoester">last.fm</a> |
  <a href="http://twitter.com/logankoester">twitter</a>
  <p>&copy; 2010 <a href="/about.html">Logan Koester</a>
</div>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4286428-1']);
  _gaq.push(['_setDomainName', '.logankoester.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>

